<h1>Listing itens</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rating</th>
    <th>Image path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itens.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.rating %></td>
    <td><%= item.image_path %></td>
    <td><%= link_to 'Show', dispute_item_path(params[:dispute_id],item) %></td>
    <td><%= link_to 'Edit', edit_dispute_item_path(params[:dispute_id],item) %></td>
    <td><%= link_to 'Destroy', dispute_item_path(params[:dispute_id],item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_dispute_item_path %>
